:root {
    --main-bg-color: #232323;
    --secondary-bg-color: #696869;
    --light: #f3d0a4;
    --accent: #893f71;
    --med-accent: #ac6f82;
    --text-color: #fff4f4;
}

html {
    box-sizing: border-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}
body {
    background-color: var(--main-bg-color);
    color: var(--text-color);
    /* font-size: larger; */
}

/* TOP SECTION */
.top-container {
    background-color: var(--accent);
    margin: 0;
    padding: 25px;
    text-align: center;
}
.top-container .description {
    margin: 25px auto;
    font-size: 45px;
    text-transform: uppercase;
}
.color-rgb {
    font-size: 60px;
    text-transform: uppercase;
}

/* BUTTON CONTAINER */
.btn-container {
    background-color: var(--accent);
    width: 100%;
}
.btn-wrapper,
.stat-wrapper {
    margin: 0 5px;
    display: flex;
    align-items: center; 
}
.stat-wrapper {
   justify-content: center;
}
.empty {
    flex: 1;
}
.btn,
.select-wrapper label,
.display {
    border: none;
    padding: 10px 15px;
    margin: 0 5px;
    background-color: var(--accent);
    color: var(--text-color);
    font-size: 1em;
    width: fit-content;
}
.select-wrapper label {
    margin-right: -5px;
}
.btn:hover {
    filter: brightness(125%);
}
.btn:active {
    filter: brightness(175%);
}
.top-container p, 
.btn-container .btn,
.btn-container label,
.btn-container .display {
    text-shadow: 
        0 0 7px var(--main-bg-color),
        0 0 5px var(--main-bg-color),
        0 0 3px var(--main-bg-color)
    ;
}
.score-count,
.lives-count,
#hint-count {
    font-size: 1.5em;
}
.lives,
.score {
    background-color: #1110;
}
.tooltip {
    position: relative;
    display: inline-block;
    /* border-bottom: 1px dotted var(--text-color); */
}
.tooltip .tooltiptext {
    visibility: hidden;
    width: 135px;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
    background-color: var(--main-bg-color);
    color: var(--text-color);
    text-align: center;
    font-size: 100%;
    /* font-weight: normal; */
    /* padding: 0; */
    border-radius: 1em;
    position: absolute;
    z-index: 1;
}
.tooltip:hover .tooltiptext {
    visibility: visible;
}

.btn a {
    text-decoration: none;
    color: var(--text-color);
    cursor: default;
}
.select-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
@media screen and (max-width: 650px) {
    .select-wrapper { flex-direction: column; }
    .top-container p { font-size: 35px; }
    .top-container .description { font-size: 30px; }
}
select {
    background-color: var(--main-bg-color);
    border: 1px solid var(--main-bg-color);
    border-radius: 4px;
    color: var(--text-color);
    height: 35%;
    min-height: 20px;
    margin: 5px 0px;
    font-size: 15px;
}


/* SQUARES */
.squares-container {
    min-width: 250px;
    display: flex;
    justify-content: center;
    margin-top: 5px;
}
.squares-wrapper {
    display: grid;
    gap: 0%;
    grid-template-columns: auto auto auto;
    margin: 0 auto;
    padding: 0;
}
.square {
    background-color: var(--main-bg-color);
    border: 2px solid white;
    border-radius: 15%;
    /* width: 150px; */
    min-width: 150px;
    aspect-ratio: 1/1;
    margin: 10px;
    transition: all 0.25s ease;
}

.hidden {
    opacity: 0;
    border-color: var(--main-bg-color);
}