:root {
    --text-color: #e7e7e7;
    --header-primary: #333;

    --sidenav-bg: #111;
    --sidenav-text: #ffffff;
    --sidenav-border: #69696969;
    --sidenav-hover: #6c517e;
    --sidenav-active: #8448ac;
}


html {
    box-sizing: border-box;
}

body {
    background-color: var(--header-primary);
}

/* HEADER */
.header {
    display: flex;
    justify-content: center;
    align-items: center;
}
.open-icon {
    position: absolute;
    top: 1em;
    left: 1em;
    color: var(--text-color);
}
.search-wrapper {
    height: 2.5em;
    display: flex;
    align-items: center;
}
.search,
button.submit {
    font-size: 1.25em;
    border: 2px solid var(--text-color);
    background-color: #0000;
    color: var(--text-color);
}
.search {
    border-radius: 10px 0 0 10px;
    padding-left: 10px;
    margin-right: -5px;
}
button.submit {
    border-radius: 0 10px 10px 0;
}

/* SAVED LIST */
.saved-wrapper,
.section-wrapper {
    font-size: 1.5em;
    width: 100%;
    height: 220px;
    color: var(--text-color);
}
ul.saved {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow: auto;
}
ul.saved li {
    text-align: center;
    margin: 5px 5px auto;
    /* width: 150px; */
    height: 180px;
    overflow: hidden;
    /* border: 1px solid yellow; */
    flex: 0 0 150px;
}
.saved-preview {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    text-align: center;
    margin: 0 auto;    
    background: linear-gradient(
        #4d3f3f,
        #555
    );
    border: 1px solid var(--text-color);
}
.saved-preview img {
    max-width: 120px;
    max-height: 120px;
    width: auto;
    height: auto;
}
.saved-name {
    height: 2.5em;
    position: relative;
    top: -15px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}



/* RECIPE POPUP */
.popup-container {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    background-color: #0006;
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.popup-wrapper {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--header-primary);
    color: var(--text-color);
    font-size: 1.25em;
    /* padding: 2em 0.25em 2em 2em; */
    padding: 1em 0.25em 1em 1.5em;
    border-radius: 10px;
    overflow: hidden;
    width: 650px;
    height: min(750px, 90vh);
    box-shadow: 
        5px 5px 10px var(--text-color);
        /* 10px 10px 8px var(--sidenav-bg); */
}
.popup-content {
    overflow-y: scroll;
    scrollbar-width: thin;
    /* max-height: 85vh; */
    height: 100%;
    padding-right: 1.75em;
    /* border: 1px solid var(--sidenav-active); */
}
.popup-img {
    margin: 0 auto;
    text-align: center;
}
.popup-img img {
    max-width: 400px;
    height: auto;
    box-shadow: 0 0 5px 2px var(--sidenav-active);
    border-radius: 10px;
    text-align: center;
}
.popup-title {
    margin: 0.5em auto;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    max-width: 600px;
    /* border: 1px solid var(--sidenav-active); */
}
.directions {
    width: 90%;
    /* border: 1px solid var(--sidenav-active); */
}
p.direction-step {
    font-style: italic;
}
.direction-step {
    margin-left: 1em;
    font-weight: 500;
}
.section-title {
    text-transform: uppercase;
    font-weight: 600;
}

@media screen and (max-width:750px) {
    .popup-wrapper {
        width: 85vw;
    }
    .popup-img img {
        max-width: 67%;
    }
}
@media screen and (min-width:1250px) {
    .popup-wrapper {
        width: 90vw;
    }
    .popup-content {
        display: flex;
        flex-direction: row;
        overflow-y: hidden;
        padding-left: 0.25em;
    }
    .img-title-wrapper {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    .popup-title {
        margin: 0 auto 1em;
    }
    .ingredients {
        min-width: fit-content;
    }
    .ingredients,
    .directions {
        margin-top: 1.5em;
        margin-left: 1.5em;        
        overflow-y: auto;
        scrollbar-width: thin;
        padding-right: 0.5em;
    }
}

.close-popup {
    position: absolute;
    top: 0.25em;
    right: 0.75em;
    font-size: 2em;
    cursor: pointer;
    /* change color to fit theme, also hover and active */
}
.hidden {
    display: none;
}

.filters {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;        
    /* maybe to have collapsible filter section set overflow hidden with 
    fixed height and apply class to unspecify height */
    max-width: 90vw;
    position: relative;
    transform: translateY(-25px);
}
.filter-item {
    background-color: #555;
    font-size: 0.75em;
    height: 1em;
    border-radius: 1em;
    padding: 0 0.5em;
    margin-right: 0.25em;
    margin-bottom: 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
}
.filter-item:hover {
    filter: brightness(125%);
}
.filter-item:active {
    filter: brightness(175%);
}
.selected-filter {    
    background-color: var(--sidenav-active);
}
.selected-filter::after {
    color: var(--text-color);
    content: '\f00d';
    font-family: FontAwesome;
    margin-left: 0.5em;
}

.section-wrapper {
    margin-bottom: 60px;
}

.filtered-results {
    border: 1px solid green;
    transform: translateY(-25px);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
}
.search-result {
    width: 275px;
    height: 200px;
    border: 1px solid red;
    background-color: #fff;
    border-radius: 1em;
    overflow: hidden;
    margin: 0 auto;
}
.search-result .result-img {
    width: 100%;
    height:65%;
    background-color: #bd67f0;
}
.search-result .result-banner {
    height: 35%;
    padding: 0 0.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    background-color: var(--header-primary);
    color: var(--text-color);
}
.search-result .result-name {
    /* TODO: add ellipsis on overflow past two lines */
}



/* SIDENAV */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: var(--sidenav-bg);
    overflow-x: hidden;
    transition: 0.5s;
}
.sidenav a,
.nav-btn {
    text-decoration: none;
    font-size: 1.5em;
    background-color: #1110;
    color: var(--sidenav-text);
    display: block;
    transition: 0.3s;
}
.sidenav .close-btn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
.nav-item,
.nav-btn {
    display: block;
    padding: 0.5em;
    background-color: var(--sidenav-bg);
    white-space: nowrap;
    user-select: none;
    color: var(--sidenav-text);
}
.nav-item:hover,
.nav-btn:hover {
    background-color: var(--sidenav-hover);
}
.nav-item:active,
.nav-btn:active {
    background-color: var(--sidenav-active);
}
.nav-btn {
    cursor: pointer;
}
.first {
    margin-top: 2em;
}
.hide-dropdown {
    display: none;
}
.indent {
    padding-left: 2em;
}
.border {
    border-bottom: 2px solid var(--sidenav-border);
}
.show-dropdown {
    background-color: var(--sidenav-hover);
}