:root {
    --main-color: #636e72;
    --text-color: #00b894;
    --outline: rgb(0, 140, 255);
    --grad-1: #38ada9;
    --grad-2: #079992;
    --sidenav-bg: #111;
    --sidenav-text: #ffffff;
    --sidenav-border: #69696969;
    --sidenav-hover: #6c517e;
    --sidenav-active: #8448ac;
}

html {
    box-sizing: border-box;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: linear-gradient(100deg, #3A5ECB, #4C7A05);
    color: var(--text-color);
    text-transform: uppercase;
    height: 100vh;
    overflow: hidden;
}

.timer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}
.timer p {
    font-size: 75px;

}

.btn-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    top: -25vh;
}
.btn {
    text-decoration: none;
    margin: 0 2vw;
    padding: 5px 10px;
    text-transform: uppercase;
    font-weight: bold;
    border: 2px solid var(--text-color);
    background-color: rgba(0, 0, 0, 0);
    color: var(--text-color);
    border-radius: 5px;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: var(--sidenav-bg);
    overflow-x: hidden;
    transition: 0.5s;
}

.sidenav a,
.bar-btn {
    text-decoration: none;
    font-size: 1.5em;
    background-color: #1110;
    color: var(--sidenav-text);
    display: block;
    transition: 0.3s;
}
.sidenav .close-btn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
.bar-item,
.bar-btn {
    display: block;
    padding: 0.5em;
    background-color: var(--sidenav-bg);
    white-space: nowrap;
    user-select: none;
    color: var(--sidenav-text);
}
.bar-item:hover,
.bar-btn:hover {
    background-color: var(--sidenav-hover);
}
.bar-item:active,
.bar-btn:active {
    background-color: var(--sidenav-active);
}
.bar-btn {
    cursor: pointer;
}
.first {
    margin-top: 2em;
}
.hide-dropdown {
    display: none;
}
.indent {
    padding-left: 2em;
}
.border {
    border-bottom: 2px solid var(--sidenav-border);
}
