:root {
    --navbar-background: #1a2223;
    --text-color: #1a1a1a;
    --navbar-text: #d3d3d3;
    --main-color: #2f67ff;
    --main-bg: #fafafa;
    --section-header: #2f67ff;

    --link-hover: #d31a42;
    --link-click: #890924;
}

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--main-color);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: var(--text-color);
    width: 100;
    height: 100%;
    display: flex;
    justify-content: center;
}
div {
    /* border: 1px solid black; */
    background-color: var(--main-bg);
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}

/* NAVBAR AND LINKS */
nav {
    margin: 0 auto;
    background-color: var(--text-color);
    width: 100%;
    padding-left: 20px;
    padding-right: 10px;
    /* position: absolute; */
    position: fixed;
    top: 0;
}
#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}
.logo {
    color: var(--navbar-text);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1110;
}
.logo img {
    border-radius: 50%;
    /* background-color: #1110; */
}
.logo p {
    font-weight: 600;
    text-transform: uppercase;
}

#nav-links {
    list-style: none;
    display: flex;
}
.nav-item a {
    display: inline-block;
    padding: 25px 30px;
    text-decoration: none;
    color: var(--navbar-text);
}
.nav-item a:hover {
    background-color: var(--link-hover);
}
.nav-item a:active {
    background-color: var(--link-click);
}

.main {
    padding-top: 4em;
    width: 90%;
    max-width: 1500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.intro {
    font-size: 2em;
    text-transform: uppercase;
    margin-bottom: 1.5em;
    font-weight: bold;
}

/* SECTION HEADERS */
.section-header {
    background-color: var(--main-bg);
    text-align: center;
    margin: 50px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.section-header h1,
h1.section-header {
    margin: 100px auto;    
    text-transform: uppercase;
}
.section-header p {
    margin-bottom: 20px;
    max-width: 80%;
}

.home-intro {
    text-align: center;
    width: 85%;
}

/* ABOUT SECTION */
.wrapper {
    width: 85%;
    max-width: 1000px;
    margin: 4em auto;
    display: flex;
}
.left {
    width: 50%;
    height: 150px;
    padding: 2px;
    margin: 5px;
    /* border: 1px solid red; */
    margin-right: 2em;
}
.right {
    width: 50%;
    height: 150px;
    padding: 2px;
    margin: 5px;
    /* border: 1px solid red; */
    margin-left: 2em;
}
.skills-list {
    display: flex;    
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    gap: 10px 15px;
    flex-flow: row wrap;
}
.skill {
    background-color: #c9c8c5;
    border-radius: 5px;
    padding: 10px 15px;
    margin: 0px;
}
.btn {
    background-color: var(--main-color);
    color: var(--navbar-text);
    border: none;

}
.btn

/* PROJECTS */
.project {
    width: 95%;
    max-width: 1000px;
    height: 300px;
    padding: 20px;
    margin: 10px auto;
    /* display: flex; */
    /* justify-content: space-around; */
    /* align-items: center; */
    /* flex-direction: row; */
}
.project-info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 2em;
    height: fit-content;
    overflow: auto;
}
.project-header {
    text-align: center;
    font-size: 2em;
    /* padding: 0.5em; */
    margin: 0.5em auto;
}
.project-img {
    float: left;
    width: 250px;
    /* width: 40%;
    aspect-ratio: 16/9; */
    /* height: 200px; */
    background-color: black;
    /* border-radius: 0px; */
    margin-left: 2em;
    border-radius: 0.25em;
    border: 2px solid var(--main-color);
}
.btn,
.project a {
    /* background-color: lightpink; */
    /* border: 1px solid purple; */
    background-color: var(--main-color);
    color: var(--navbar-text);
    border-radius: 5px;
    padding: 1em 1.5em;
    margin: 2em auto;
}
.btn,
.project a:hover {
    filter: brightness(125%);
}
.btn,
.project a:active {
    filter: brightness(175%);
}

/* CONTACT SECTION */
.contact-section {
    background-color: var(--main-color);
    width: 100%;
    height: 60em;
    color: var(--main-bg);
    /* margin-top:1000px; */
}
.contact-section .section-header {
    background-color: #1110;
}
.contact {
    background-color: #1110;

}
.contact__form-container {
    width: 95%;
    border-radius: 5px;
    padding: 0.5em 4em 1em;
    border-radius: 5px;
    /* box-shadow: 0 0 10px #00000015; */
}
section {
    background-color: #1110;
    border-radius: 5px;
}
.main-container {
    background-color: #1110;
    width: 750px;
    /* min-width: 100%; */
}
@media screen and (max-width: 800px) {
    .main-container {
        width: 500px;
    }
}
.contact__form-input {
    padding: 2rem;
    width: 100%;
    border: 1px solid #ebebeb;
    color: #333;
    border-radius: 5px;
}
.contact__form-label {
    color: #666;
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 700;
    margin-bottom: 1rem;
    margin-top: 0.75rem;
    display: block;
    text-align: left; 
}
.contact__form-input::placeholder {
    color: #999;
    font-weight: 600;
    font-size: 1.25em;
}
.contact__btn {
    width: 25%;
    padding: 1em 2em;
    font-size: 1.1em;
    text-transform: uppercase;
}