:root {
    --navbar-background: #1a2223;
    --text-color: #1a1a1a;
    --navbar-text: #d3d3d3;
    --link-hover: #d31a42;
    --link-click: #890924;
}

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    background-color: whitesmoke;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: var(--text-color);
    width: 100;
    height: 100%;
    display: flex;
    justify-content: center;
}
div {
    border: 1px solid black;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}

/* NAVBAR AND LINKS */
nav {
    margin: 0 auto;
    background-color: var(--text-color);
    width: 100%;
    padding-left: 20px;
    padding-right: 10px;
    /* position: absolute; */
    position: fixed;
    top: 0;
}
#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    color: var(--navbar-text);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo img {
    border-radius: 50%;
}
.logo p {
    font-weight: 600;
    text-transform: uppercase;
}

#nav-links {
    list-style: none;
    display: flex;
}
.nav-item a {
    display: inline-block;
    padding: 25px 30px;
    text-decoration: none;
    color: var(--navbar-text);
}
.nav-item a:hover {
    background-color: var(--link-hover);
}
.nav-item a:active {
    background-color: var(--link-click);
}

.main {
    padding-top: 4em;
    width: 90%;
    max-width: 1500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.intro {
    font-size: 2em;
    text-transform: uppercase;
    margin-bottom: 1.5em;
    font-weight: bold;
}

/* SECTION HEADERS */
.section-header {
    background-color: antiquewhite;
    text-align: center;
    margin: 50px auto;

}
.section-header h1,
h1.section-header {
    margin: 100px auto;    
    text-transform: uppercase;
}
.section-header p {
    margin-bottom: 20px;
}

.home-intro {
    text-align: center;
    width: 85%;
}

/* ABOUT SECTION */
.wrapper {
    width: 85%;
    max-width: 1000px;
    margin: 4em auto;
    display: flex;
}
.left {
    width: 50%;
    height: 150px;
    padding: 2px;
    margin: 5px;
    border: 1px solid red;
}
.right {
    width: 50%;
    height: 150px;
    padding: 2px;
    margin: 5px;
    border: 1px solid red;
}
.skills-list {
    display: flex;    
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    gap: 10px 15px;
    flex-flow: row wrap;
}
.skill {
    background-color: #c9c8c5;
    border-radius: 5px;
    padding: 10px 15px;
    margin: 0px;
}

.project {
    width: 95%;
    max-width: 1000px;
    height: 300px;
    padding: 20px;
    margin: 10px auto;
}
.project-info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 2em;
}
.project-header {
    text-align: center;
    font-size: 2em;
    /* padding: 0.5em; */
    margin: 0.5em auto;
}
.project-img {
    float: left;
    width: 30%;
    aspect-ratio: 4/3;
    background-color: black;
    border-radius: 10px;
}
.project a {
    background-color: lightpink;
    border: 1px solid purple;
    border-radius: 5px;
    padding: 1em 1.5em;
    margin: 2em auto;
}